.messages__wrapper {
    background-color: wheat;
    padding: 2rem;
    border-radius: 1rem;
    margin-top: 1rem;
    color: black;
    position: relative;
    z-index: 10;
    a {
        color: darkgreen;
        text-decoration: underline;
   }
}
