.teaser {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  flex-flow: row wrap;
  padding-block: 1rem;
  background: white;
  padding-inline: 1.5rem;
  border-radius: 1rem 1rem 0 0;
  border-bottom: 1px solid #dadada;
  transition: .25s background-color;
  height: 100%;
  &__img {
    flex: 100%;
    overflow: hidden;
    margin-bottom: -1rem;
    border-radius: 1rem;
    img {
      border-radius: 1rem;
      transition: .25s transform;
    }
  }
  &:hover img {
    transform: scale(1.05) translateX(-.5rem) translateY(-.5rem);
  }
  &__data {
    flex: 2;
    color: #787979;
  }
  &__call {
    flex: .5;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    text-transform: uppercase;
    color: hsl(100deg,51%,40%);
    span:first-child {
      font-size: 32px;
    }
    span:last-child {
      font-size: 60%;
    }
  }
  &_title {
    line-height: 1.25;
    font-weight: 400;
    color: #007133;
  }
  &:hover {
    background-color: #fafafa;
  }
}
