.header {
  box-shadow: 0 .5625rem 1.125rem 0 rgba(0,0,0,.2);
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
  &__container {
    justify-content: space-between;
    gap: clamp(0.5rem, -1rem + 2.6667vw, 1rem);
    align-items: center;
    padding-inline: 1vw;
  }
  &__menu {
    gap: 1rem;
    position: relative;
    &::after {
      backdrop-filter: blur(3px);
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.25s ease-in-out, visibility 0.25s ease-in-out;
      .body_burger & {
        opacity: 1;
        visibility: visible;
      }
    }
    @media (max-width: 1199px) {
      display: none;
    }
    &-item {
      position: relative;
      padding-block: 1rem;
      &.expanded:hover::after {
        opacity: 1;
      }
      &.expanded::after {
        content: '';
        width: 0;
        height: 0;
        border-top: 16px solid hsla(100deg,51%,40%,.5);
        position: absolute;
        z-index: 2;
        top: 100%;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        transition: opacity .2s ease-in-out;
      }
    }
    &-s1 {
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.25s ease-in-out, visibility 0.25s ease-in-out;
      position: absolute;
      top: 100%;
      width: max-content;
      padding: 1rem;
      height: 250px;
      z-index: 1;
      display: flex;
      flex-direction: column;
      gap: .5rem;
      .header__menu-item:hover & {
        opacity: 1;
        visibility: visible;
      }
      &::before {
        content: '';
        height: 250px;
        position: fixed;
        border-top: 1px solid hsla(100deg,51%,40%,.5);
        background-color: #e6f0e1;
        left: 0;
        right: 0;
        z-index: -1;
        top: 66px;
        opacity: 0;
        transition: opacity .2s ease-in-out;
        .header__menu-item:hover & {
          opacity: 1;
        }
      }
      &::after {
        content: '';
        background-color: hsla(100deg,51%,40%,.5);
        width: 1px;
        height: 80%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: opacity .2s ease-in-out;
        .header__menu-item:hover & {
          opacity: 1;
        }
      }
    }
    &-link {
      display: flex;
      padding: .5rem;
      line-height: 1;
      gap: .5rem;
      align-items: center;
      color: #007133;
      &::before {
        content: '';
        width: 100%;
        height: 100%;
        left: 0;
        position: absolute;
        background-color: #e6f0e1;
        z-index: -1;
        border-radius: .5rem;
        opacity: 0;
        transition: .2s opacity ease-in-out;
        .header__menu-item.active-trail &,
        .header__menu-item:hover & {
          opacity: 1;
        }
      }
      &:not(.expanded)::after {
        content: none;
      }
      &::after {
        .expanded & {
          content: '';
          width: 8px;
          height: 8px;
          border-right: 1px solid #007133;
          border-bottom: 1px solid #007133;
          left: auto;
          position: relative;
          background-color: transparent;
          transform: rotate(45deg);
          transform-origin: center;
          transition: .3s transform ease-in-out;
        }
        .header__menu-item:hover & {
          width: 8px;
          transform: rotate(-135deg);
        }
      }
      &-s1 {
        color: #579d34;
        font-size: 16px;
        padding: .25rem .5rem;
      }
    }
  }
  &__buttons {
    gap: clamp(0.5rem, -1rem + 2.6667vw, 1rem);
    &-link {
      border: 1px solid #007133;
      padding: .5rem 1rem;
      border-radius: 2rem;
      color: #007133;
      overflow: hidden;
      display: flex;
      font-size: 85%;
      &::after {
        height: 100%;
        top: 0;
        border-radius: 2rem;
      }
    }
    &-cta {
      color: white;
      transition: .25s border-color ease-in-out, .25s color ease-in-out;
      &:hover {
        border-color: hsla(100, 51%, 40%, 0.5);
        color: #007133;
        &::after {
          transition: .25s background-color ease-in-out;
          background-color: hsla(100, 51%, 40%, 0.5);
        }
      }
      &::after {
        background-color: #007133;
        width: 100%;
        left: 0;
        right: auto;
      }
    }
  }
  &__burger  {
    border: 0;
    background-color: #559b32;
    color: white;
    display: flex;
    flex-direction: column;
    padding: .25rem;
    border-radius: .5rem;
    cursor: pointer;
    font-size: 10px;
    text-transform: uppercase;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    margin-block: .25rem;
    span span {
      &:last-child {
        display: none;
        .body_burger & {
          display: block;
        }
      }
      .body_burger &:first-child {
        display: none;
      }
    }
  }
  &_show {
    .burger & {
      display: none;
    }
  }
}
