html {
  max-width: 100vw;
}

img, svg {
  aspect-ratio: attr(width)/attr(height);
}

body {
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  font-size: clamp(.875rem,.7917rem + .4444vw,1.125rem);
  color: #555;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
body * {
  margin: 0;
  padding: 0;
  text-decoration: inherit;
}

#root, #__next {
  isolation: isolate;
}

h1, h2, h3, h4, h5, strong, b {
  font-weight: bold;
  color: #2E404D;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  hyphens: auto;
}

small {
  font-size: 70%;
}

u {
  text-decoration: underline;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

figure {
  overflow: hidden;
  position: relative;
}

img, picture, video, canvas, svg {
  display: block;
  height: auto;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}

fieldset {
  border: 0;
}

input, button, textarea, select {
  font: inherit;
}

.visually-hidden,
.hidden,
.sr-only,
[hidden] {
  display: none;
}

.akw {
  display: flex;
  flex-flow: column wrap;
  min-height: 100vh;
  position: relative;
}
.main {
  flex: 1;
}

.logo {
  font-size: clamp(0.8rem, 1vw + 0.5rem, 1.25rem);
  font-weight: normal;
  &_link {
    display: flex;
    gap: .25rem;
    align-items: center;
    justify-content: space-between;
    &:after {
      content: none;
    }
    svg {
      min-width: 50px;
      &:last-child {
        min-width: 125px;
        @media (max-width: 599px) {
          display: none;
        }
      }
    }
  }
}
