.flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  &_one {
    flex: 1;
  }
  &_inline {
    display: flex;
    gap: .25rem;
    align-items: center;
  }
  &_column {
    display: flex;
    flex-direction: column;
  }
}

[class*='cols-'] {
  display: flex;
  flex-flow: row wrap;
  gap: clamp(1rem, -5rem + 10.6667vw, 3rem);
  justify-content: center;
}
.cols- {
  &2 > * {
    flex: 1;
    min-width: calc(50% - clamp(1rem,-5rem + 10.6667vw,3rem));
    max-width: calc(50% - clamp(1rem,-5rem + 10.6667vw,3rem));
    @media (max-width: 599px) {
      flex: 100%;
      min-width: fit-content;
      max-width: inherit;
    }
  }
  &3 > * {
    flex: 1;
    min-width: calc(33.3333% - clamp(1rem,-5rem + 10.6667vw,3rem));
    max-width: calc(33.3333% - clamp(1rem,-5rem + 10.6667vw,3rem));
    @media (max-width: 699px) {
      flex: 100%;
      min-width: fit-content;
      max-width: inherit;
    }
  }
  &4 > * {
    flex: 1;
    min-width: calc(25% - clamp(1rem,-5rem + 10.6667vw,3rem));
    max-width: calc(25% - clamp(1rem,-5rem + 10.6667vw,3rem));
    @media (max-width: 999px) {
      min-width: calc(33.3333% - clamp(1rem,-5rem + 10.6667vw,3rem));
      max-width: calc(33.3333% - clamp(1rem,-5rem + 10.6667vw,3rem));
    }
    @media (max-width: 799px) {
      flex: 100%;
      min-width: fit-content;
      max-width: inherit;
    }
  }
}
