.flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  &_one {
    flex: 1;
  }
  &_inline {
    display: flex;
    gap: .25rem;
    align-items: center;
  }
  &_column {
    display: flex;
    flex-direction: column;
  }
}

[class*='cols-'] {
  display: flex;
  flex-flow: row wrap;
  gap: clamp(1rem, -5rem + 10.6667vw, 3rem);
}
.cols- {
  &2 > * {
    flex: 1;
    @media (max-width: 599px) {
      flex: 100%;
    }
  }
  &3 > * {
    flex: 1;
    @media (max-width: 699px) {
      flex: 100%;
    }
  }
  &4 > * {
    flex: 1;
    @media (max-width: 799px) {
      flex: 100%;
    }
  }
}
