.btn {
  padding: .5rem 1rem;
  color: hsla(100, 51%, 40%, 0.9);
  border: 2px solid hsla(100, 51%, 40%, 0.9);
  display: inline-flex;
  align-items: center;
  gap: .5rem;
  margin-top: 1rem;
  border-radius: 1.5rem;
  font-weight: 700;
  font-size: clamp(0.75rem, 0rem + 1.3333vw, 1rem);
  overflow: hidden;
  transition: .25s color ease-in-out;
  &::after {
    height: 100%;
    top: 0;
    background-color: hsla(100, 51%, 40%, 0.9);
  }
  &:hover {
    color: white;
  }
  .icon {
    font-weight: 700;
  }
}

.button {
  width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    border: 0;
    padding: .5rem;
    border-radius: 2rem;
    background-color: rgb(230, 240, 225);
    color: #007133;
    font-weight: 400;
    cursor: pointer;
    transition: .25s color ease-in-out, .25s background-color ease-in-out;
    &:hover {
      color: rgb(230, 240, 225);
      background-color: #007133;
    }
  [class*='body'] + & {
    margin-top: 1rem;
  }
}
