<div class="body">
  <div class="container body__container">

      {% if (is_node and node.getType() in ['services']) %}
      <aside class="body_first" role="complementary">
        {% include "@akw/sections/menuacc.html.twig" ignore missing %}
      </aside>
      {% endif %}

      <section class="body_content">
        {{ page.content }}
      </section>

      <aside id="asesoria" class="body_second" role="complementary">
        <div class="form__container">
          {% if (is_node and node.getType() in ['services']) %}
          <p class="form_title">¿Buscas asesoría sobre {{ page['#title'] }}?</p>
          {% else %}
          <p class="form_title">¿Buscas asesoría?</p>
          {% endif %}
          <p class="form_text">Envíanos tus datos, te responderemos pronto.</p>
          {{ drupal_entity('contact_form', 'feedback') }}
          {% include "@akw/elements/callterminos.html.twig" ignore missing %}
        </div>
      </aside>

  </div>
</div>

