{% if node.field_type_system.value in ['system_bio', 'system_consultoria'] %}
<div class="body">
  <div class="container body__container">
    <article class="body__article">
      {{ page.content }}
    </article>
  </div>
</div>
{% endif %}
{% if node.field_type_system.value == 'system_bio' %}
  {{ munayco_2consultoria }}
{% elseif node.field_type_system.value == 'system_consultoria' %}
  {% include "@akw/blocks/creemos.html.twig" ignore missing %}
  {% include "@akw/blocks/logos.html.twig" ignore missing %}
  {{ munayco_2maria }}
{% elseif node.field_type_system.value == 'system_home' %}
  {% include "@akw/blocks/logos.html.twig" ignore missing %}
  {% include "@akw/blocks/news.html.twig" ignore missing %}
{% endif %}
