<small>{{ 'now'|date('Y') }} - © María Munayco Consulting - Lima, Perú</small>
{% if arkyweb %}
<small>
  <a class="footer_link" href="{{ arkyweb|raw }}" target="_blank">Diseño web y página web desarrollados con ♥ por Arkyweb</a>
</small>
{% endif %}
