<section class="blocks blocks__news">
    <div class="container">
      <h3 class="blocks__title"><span>Noticias</span></h3>
      {{ drupal_view('noticias', 'noticias_home') }}
      <div class="blocks__btn">
        <a class="btn" href="{{ drupal_url('noticias') }}">
          <span>Consulte más Noticias</span>
        </a>
      </div>
    </div>
  </section>
