<section class="blocks blocks__prefooter">
  <div class="container">
    <p class="blocks__title">Impulsa tu empresa con María Munayco Consulting</p>
    <p class="blocks__text">Empieza tu camino hacia la excelencia y avanza tu negocio al siguiente nivel.</p>
    <a href="/contacto" class="btn btn-primary">
      <span>Contáctanos</span>
      <span class="material-symbols-outlined">arrow_forward</span>
    </a>
  </div>
</section>
