<section class="blocks blocks__prefooter">
  <div class="container">
    <h3 class="blocks__title">Impulsa tu empresa con María Munayco Consulting</h3>
    <p class="blocks__text">Empieza tu camino hacia la excelencia y avanza tu negocio al siguiente nivel.</p>
    <a href="/contacto" class="btn btn-primary">Contáctanos</a>
  </div>
</section>
