<section class="blocks blocks__maria">
  <div class="container">
    <h3 class="blocks__title">María Munayco: Liderazgo y visión estratégica para tu empresa</h3>
    <p class="blocks__text">Conoce su trayectoria y cómo su experiencia puede potenciar el crecimiento de tu organización.</p>
    <a href="{{ drupal_url('node/6') }}" class="btn btn-primary">
      <span>Explora su trayectoria</span>
      <span class="material-symbols-outlined">arrow_forward</span>
    </a>
  </div>
</section>
