.blocks {
  padding-top: 12vh;
  padding-bottom: 12vh;
  text-align: center;
  &__prefooter {
    padding-top: 15vh;
    padding-bottom: 20vh;
    clip-path: polygon(50% 10%,100% 0,100% 100%,0 100%,0 0);
    background-color: #eeeed8;
  }
  & .container > * {
    margin-inline: auto;
  }
  &__title {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    color: hsl(100deg,51%,40%);
    font-size: clamp(1.5rem, -1.5rem + 5.3333vw, 2.5rem);
    max-width: 600px;
    line-height: 1.05;
    margin-inline: auto;
    .blocks__creemos & {
      color: wheat;
    }
    > span {
      border-bottom: 3px solid ;
      position: relative;
      display: inline-block;
      &::before {
        content: "";
        width: .75rem;
        height: .75rem;
        position: absolute;
        display: block;
        background-color: #9fbc2b;
        left: 0;
        right: 0;
        margin: auto;
        top: -1.75rem;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-box-shadow: .8rem 0 0 #559b32, 0 .8rem 0 #007133;
        box-shadow: .8rem 0 0 #559b32, 0 .8rem 0 #007133;
        .blocks__creemos & {
          background: white;
          box-shadow: 0.8rem 0 0 rgba(255,255,255,.5), 0 0.8rem 0 rgba(255,255,255,.75);
        }
      }
    }
  }
  &__text {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    color: #333;
    font-size: clamp(1.125rem, -0.5625rem + 3vw, 1.6875rem);
    margin-block: clamp(1rem, -0.5rem + 2.6667vw, 1.5rem);
    max-width: 600px;
    line-height: 1.1;
  }
  &__btn {
    margin-top: 2rem;
  }
  & .btn {
    margin-top: 0;
    font-size: clamp(1.125rem, 0.5625rem + 1vw, 1.3125rem);
    border-radius: 2rem;
  }
  &__news [class*="cols-"] {
    text-align: left;
    margin-top: 2rem;
  }
  &__creemos {
    background-color: hsl(147deg,100%,22%);
    color: white;
  }
  &__logos {
    padding-top: 10vh;
    padding-bottom: 5vh;
    .frontpage & {
      @media (max-width: 899px) {
        padding-top: 5vh;
        padding-bottom: 0;
      }
      @media (min-width: 900px) {
        margin-top: -9vw;
        z-index: 2;
        position: relative;
      }
      & .container {
        width: auto;
        padding-top: 1.5rem;
        background-color: white;
        overflow: hidden;
        @media (min-width: 900px) {
          max-width: fit-content;
          box-shadow: 0 .5625rem 1.125rem 0 rgba(0,0,0,.2);
          border-radius: 10rem;
        }
      }
      & .blocks__title {
        font-family: "DM Sans", serif;
        text-transform: uppercase;
        color: #999;
        font-size: 16px;
        border-width: 1px;
        & > span {
          border-width: 1px;
          &::before {
            content: none;
          }
        }
      }
    }
  }
  &__consultoria,
  &__maria {
    background-image: linear-gradient(0deg,rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 85%, rgba(230, 230, 230, 1) 100%);
  }
  &__servicios {
    clip-path: polygon(100% 10%, 100% 90%, 50% 100%, 0% 90%, 0% 10%, 50% 0%);
    background-image: radial-gradient(#ccc 0.8px, transparent 0.8px), radial-gradient(#ccc 0.8px, #f7f5f2 0.8px);
    background-color: #f7f5f2;
    background-position: 0 0,16px 16px;
    background-size: 32px 32px;
    counter-reset: apps;
    .views-element-container {
      margin-top: 3rem;
      counter-reset: numerics;
    }
    .item-list {
      background-color: rgba(0,0,0,.05);
      padding: 1rem;
      padding-bottom: 2rem;
      min-height: 210px;
      border-radius: 1rem;
      h3 a {
        font-family: "DM Serif Text", serif;
        font-weight: 400;
        color: hsla(100, 51%, 40%, 0.9);
        font-size: clamp(1.125rem, 0.75rem + 1vw, 1.5rem);
        display: inline-flex;
        margin-bottom: 1rem;
        line-height: 1;
        &::before {
          content: counter(numerics, upper-roman) ". ";
          padding-right: .25rem;
          counter-increment: numerics;
        }
      }
      .fila {
        display: block;
        line-height: 1.05;
        padding-inline: clamp(0.5rem, 0rem + 1.3333vw, 1rem);
        a {
          color: darkolivegreen;
          font-size: clamp(1.125rem, 0.75rem + 1vw, 1.5rem);
          margin-bottom: 1rem;
          transition: .25s color ease;
          &:hover {
            color:  #007133;
          }
          &::before {
            content: counter(apps) ". ";
            counter-increment: apps;
            background-color: hsl(100, 51%, 40%);
            color: white;
            min-width: 1.75rem;
            height: 1.75rem;
            display: inline-flex;
            border-radius: 50%;
            line-height: 1.75rem;
            justify-content: center;
            margin-right: .5rem;
          }
          &::after {
            content: none;
          }
        }
        &:not(:first-child) {
          margin-top: 1.25rem;
        }
      }
    }
  }
  .btn::after {
    z-index: 0;
  }
  .btn span {
    position: relative;
    z-index: 2;
  }
  &.blocks__porque .btn {
    font-size: clamp(0.75rem, 0rem + 1.3333vw, 1rem);
  }
}

.sub_block {
  .blocks__porque & {
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
    @media (min-width: 599px) {
      min-width: calc(50% - clamp(4rem, 1rem + 8vw, 7rem));
    }
  }
  &s{
    margin-top: 3rem;
    .blocks__porque & {
      background-color: #f7f5f2;
      outline: clamp(3rem, 1rem + 5.3333vw, 5rem) solid #f7f5f2;
      border-radius: 1rem;
      gap: clamp(4rem, 1rem + 8vw, 7rem);
      margin-top: clamp(5rem, 2rem + 8vw, 8rem);
      text-align: left;
      position: relative;
      &::after {
        content: '';
        width: 1px;
        position: absolute;
        height: 100%;
        background: #ddd;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        @media (max-width: 899px) {
          display: none;
        }
      }
    }
  }
  &__title {
    font-family: "DM Serif Text",serif;
    color: white;
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: .5rem;
    .frontpage & {
      color: hsla(100, 51%, 40%, 0.9);
      margin: 0;
      font-size: clamp(1.25rem, 0.8125rem + 1.1667vw, 1.6875rem);
      line-height: 1.1;
    }
  }
  &__img img {
    width: clamp(20rem, 12.5rem + 25vw, 31.25rem);
    border-radius: 1rem;
  }
  p {
    .frontpage & {
      color: black;
      margin-top: -.5rem;
    }
  }
}

.marquee {
  width: 100%;
  gap: 4rem;
  margin-bottom: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  overflow: hidden;
  position: relative;
  &::before,
  &::after {
    content: '';
    width: 3rem;
    height: 100%;
    background: linear-gradient(to right, rgb(255, 255, 255), rgba(255, 255, 255, 0));
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
  }
  &::after {
    right: 0;
    left: auto;
    background: linear-gradient(to left, rgb(255, 255, 255), rgba(255, 255, 255, 0));
  }
  .frontpage & {
    padding-top: 0;
    padding-bottom: 1rem;
  }
  &_content {
    min-width: 100%;
    gap: 4rem;
    flex: none;
    justify-content: space-around;
    display: flex;
    animation-direction: reverse;
    animation: scroll 30s linear infinite;
    align-items: center;
  }
  &_overflow {
    margin-top: 1rem;
    width: clamp(18rem, -5.5183rem + 99.0244vw, 68.75rem);
    .frontpage & {
      width: clamp(18rem, 6.0671rem + 50.2439vw, 43.75rem);
      margin-top: .5rem;
    }
  }
  figure,
  img {
    -webkit-transform: translateZ(0);
    max-width: 150px;
  }
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% - 1rem));
  }
}
