.blocks {
  padding-top: 12vh;
  padding-bottom: 12vh;
  text-align: center;
  &__prefooter {
    padding-top: 15vh;
    padding-bottom: 20vh;
    clip-path: polygon(50% 10%,100% 0,100% 100%,0 100%,0 0);
    background-color: #eeeed8;
  }
  & .container > * {
    margin-inline: auto;
  }
  &__title {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    color: hsl(100deg,51%,40%);
    font-size: clamp(1.5rem, -1.5rem + 5.3333vw, 2.5rem);
    max-width: 600px;
    line-height: 1.05;
    margin-inline: auto;
    .blocks__creemos & {
      color: wheat;
    }
    > span {
      border-bottom: 3px solid ;
      position: relative;
      &::before {
        content: "";
        width: .75rem;
        height: .75rem;
        position: absolute;
        display: block;
        background-color: #9fbc2b;
        left: 0;
        right: 0;
        margin: auto;
        top: -1.75rem;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-box-shadow: .8rem 0 0 #559b32, 0 .8rem 0 #007133;
        box-shadow: .8rem 0 0 #559b32, 0 .8rem 0 #007133;
        .blocks__creemos & {
          background: white;
          box-shadow: 0.8rem 0 0 rgba(255,255,255,.5), 0 0.8rem 0 rgba(255,255,255,.75);
        }
      }
    }
  }
  &__text {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    color: #333;
    font-size: clamp(1.125rem, -0.5625rem + 3vw, 1.6875rem);
    margin-block: clamp(1rem, -0.5rem + 2.6667vw, 1.5rem);
    max-width: 600px;
    line-height: 1.1;
  }
  & .btn {
    margin-top: 0;
    font-size: clamp(1.125rem, 0.5625rem + 1vw, 1.3125rem);
    border-radius: 2rem;
  }
  &__news [class*="cols-"] {
    text-align: left;
    margin-top: 2rem;
  }
  &__creemos {
    background-color: hsl(147deg,100%,22%);
    color: white;
  }
  &__logos {
    padding-top: 10vh;
    padding-bottom: 5vh;
  }
  &__consultoria,
  &__maria {
    background-image: linear-gradient(0deg,rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 85%, rgba(230, 230, 230, 1) 100%);
  }
  .btn::after {
    z-index: 0;
  }
  .btn span {
    position: relative;
    z-index: 2;
  }
  &.blocks__porque .btn {
    font-size: clamp(0.75rem, 0rem + 1.3333vw, 1rem);
  }
}

.sub_block {
  .blocks__porque & {
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
  }
  &s{
    margin-top: 3rem;
    .blocks__porque & {
      background-color: #eeeed8;
      outline: clamp(3rem, 1rem + 5.3333vw, 5rem) solid #eeeed8;
      border-radius: 1rem;
      gap: clamp(4rem, 1rem + 8vw, 7rem);
      margin-top: clamp(5rem, 2rem + 8vw, 8rem);
      text-align: left;
    }
  }
  &__title {
    font-family: "DM Serif Text",serif;
    color: white;
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: .5rem;
    .frontpage & {
      color: hsla(100, 51%, 40%, 0.9);
      margin: 0;
      font-size: clamp(1.25rem, 0.8125rem + 1.1667vw, 1.6875rem);
      line-height: 1.1;
    }
  }
  &__img img {
    width: clamp(20rem, 12.5rem + 25vw, 31.25rem);
    border-radius: 1rem;
  }
  p {
    .frontpage & {
      color: black;
      margin-top: -.5rem;
    }
  }
}

.marquee {
  width: 100%;
  gap: 4rem;
  margin-bottom: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  overflow: hidden;
  &_content {
    min-width: 100%;
    gap: 4rem;
    flex: none;
    justify-content: space-around;
    display: flex;
    animation-direction: reverse;
    animation: scroll 10s linear infinite;
    align-items: center;
  }
  &_overflow {
    margin-top: 1rem;
    width: clamp(18rem, -5.5183rem + 99.0244vw, 68.75rem);
    .frontpage & {
      width: clamp(18rem, 6.0671rem + 50.2439vw, 43.75rem);
    }
  }
  figure,
  img {
    -webkit-transform: translateZ(0);
    max-width: 150px;
  }
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% - 1rem));
  }
}
